@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-ExtraLightItalic.eot");
  src: local("Excentra Pro ExtraLight Italic"),
    local("ExcentraPro-ExtraLightItalic"),
    url("./fonts/ExcentraPro-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/ExcentraPro-ExtraLightItalic.woff2") format("woff2"),
    url("./fonts/ExcentraPro-ExtraLightItalic.woff") format("woff"),
    url("./fonts/ExcentraPro-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-Medium.eot");
  src: local("Excentra Pro Medium"), local("ExcentraPro-Medium"),
    url("./fonts/ExcentraPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ExcentraPro-Medium.woff2") format("woff2"),
    url("./fonts/ExcentraPro-Medium.woff") format("woff"),
    url("./fonts/ExcentraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-Italic.eot");
  src: local("Excentra Pro Italic"), local("ExcentraPro-Italic"),
    url("./fonts/ExcentraPro-Italic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ExcentraPro-Italic.woff2") format("woff2"),
    url("./fonts/ExcentraPro-Italic.woff") format("woff"),
    url("./fonts/ExcentraPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-Regular.eot");
  src: local("Excentra Pro Regular"), local("ExcentraPro-Regular"),
    url("./fonts/ExcentraPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ExcentraPro-Regular.woff2") format("woff2"),
    url("./fonts/ExcentraPro-Regular.woff") format("woff"),
    url("./fonts/ExcentraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-Light.eot");
  src: local("Excentra Pro Light"), local("ExcentraPro-Light"),
    url("./fonts/ExcentraPro-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ExcentraPro-Light.woff2") format("woff2"),
    url("./fonts/ExcentraPro-Light.woff") format("woff"),
    url("./fonts/ExcentraPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-ExtraBold.eot");
  src: local("Excentra Pro ExtraBold"), local("ExcentraPro-ExtraBold"),
    url("./fonts/ExcentraPro-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ExcentraPro-ExtraBold.woff2") format("woff2"),
    url("./fonts/ExcentraPro-ExtraBold.woff") format("woff"),
    url("./fonts/ExcentraPro-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-LightItalic.eot");
  src: local("Excentra Pro Light Italic"), local("ExcentraPro-LightItalic"),
    url("./fonts/ExcentraPro-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/ExcentraPro-LightItalic.woff2") format("woff2"),
    url("./fonts/ExcentraPro-LightItalic.woff") format("woff"),
    url("./fonts/ExcentraPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-MediumItalic.eot");
  src: local("Excentra Pro Medium Italic"), local("ExcentraPro-MediumItalic"),
    url("./fonts/ExcentraPro-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/ExcentraPro-MediumItalic.woff2") format("woff2"),
    url("./fonts/ExcentraPro-MediumItalic.woff") format("woff"),
    url("./fonts/ExcentraPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-UltraLight.eot");
  src: local("Excentra Pro UltraLight"), local("ExcentraPro-UltraLight"),
    url("./fonts/ExcentraPro-UltraLight.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ExcentraPro-UltraLight.woff2") format("woff2"),
    url("./fonts/ExcentraPro-UltraLight.woff") format("woff"),
    url("./fonts/ExcentraPro-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-SemiBoldItalic.eot");
  src: local("Excentra Pro SemiBold Italic"),
    local("ExcentraPro-SemiBoldItalic"),
    url("./fonts/ExcentraPro-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/ExcentraPro-SemiBoldItalic.woff2") format("woff2"),
    url("./fonts/ExcentraPro-SemiBoldItalic.woff") format("woff"),
    url("./fonts/ExcentraPro-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-ExtraBoldItalic.eot");
  src: local("Excentra Pro ExtraBold Italic"),
    local("ExcentraPro-ExtraBoldItalic"),
    url("./fonts/ExcentraPro-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/ExcentraPro-ExtraBoldItalic.woff2") format("woff2"),
    url("./fonts/ExcentraPro-ExtraBoldItalic.woff") format("woff"),
    url("./fonts/ExcentraPro-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-Bold.eot");
  src: local("Excentra Pro Bold"), local("ExcentraPro-Bold"),
    url("./fonts/ExcentraPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ExcentraPro-Bold.woff2") format("woff2"),
    url("./fonts/ExcentraPro-Bold.woff") format("woff"),
    url("./fonts/ExcentraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-UltraLightItalic.eot");
  src: local("Excentra Pro UltraLight Italic"),
    local("ExcentraPro-UltraLightItalic"),
    url("./fonts/ExcentraPro-UltraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/ExcentraPro-UltraLightItalic.woff2") format("woff2"),
    url("./fonts/ExcentraPro-UltraLightItalic.woff") format("woff"),
    url("./fonts/ExcentraPro-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-BoldItalic.eot");
  src: local("Excentra Pro Bold Italic"), local("ExcentraPro-BoldItalic"),
    url("./fonts/ExcentraPro-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ExcentraPro-BoldItalic.woff2") format("woff2"),
    url("./fonts/ExcentraPro-BoldItalic.woff") format("woff"),
    url("./fonts/ExcentraPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-ExtraLight.eot");
  src: local("Excentra Pro ExtraLight"), local("ExcentraPro-ExtraLight"),
    url("./fonts/ExcentraPro-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ExcentraPro-ExtraLight.woff2") format("woff2"),
    url("./fonts/ExcentraPro-ExtraLight.woff") format("woff"),
    url("./fonts/ExcentraPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/ExcentraPro-SemiBold.eot");
  src: local("Excentra Pro SemiBold"), local("ExcentraPro-SemiBold"),
    url("./fonts/ExcentraPro-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ExcentraPro-SemiBold.woff2") format("woff2"),
    url("./fonts/ExcentraPro-SemiBold.woff") format("woff"),
    url("./fonts/ExcentraPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/**/
@font-face {
  font-family: "Sakkal Majalla Bold";
  src: local("Sakkal Majalla Bold"), local("SakkalMajallaBold"),
    url("./fonts/SakkalMajallaBold.ttf") format("truetype");
  font-weight: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Excentra Pro";
  font-weight: 700;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p1,
.p2,
.p3,
.p4,
.large_btn,
.medium_btn,
.small_btn {
  font-style: normal;
  line-height: 120%;
  margin: 0;
}

.p1,
.p2,
.p3,
.p4 {
  font-weight: 400;
}

.p1,
.p2,
.p3,
.p4,
.large_btn,
.medium_btn,
.small_btn {
  font-family: "Excentra Pro";
}

.large_btn,
.medium_btn,
.small_btn {
  font-weight: 600;
}

@media (max-width: 767.98px) {
  .h1 {
    font-size: 2.25rem;
  }

  .h2 {
    font-size: 2rem;
  }

  .h3 {
    font-size: 1.75rem;
  }

  .h4 {
    font-size: 1.5625rem;
  }

  .h5 {
    font-size: 1.375rem;
  }

  .h6 {
    font-size: 1.25rem;
  }

  .p1,
  .large_btn {
    font-size: 1.125rem;
  }

  .p2,
  .medium_btn {
    font-size: 1rem;
  }

  .p3,
  .small_btn {
    font-size: 0.875rem;
  }

  .p4 {
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .h1 {
    font-size: 2.5rem;
  }

  .h2 {
    font-size: 2.25rem;
  }

  .h3 {
    font-size: 2rem;
  }

  .h4 {
    font-size: 1.75rem;
  }

  .h5 {
    font-size: 1.5625rem;
  }

  .h6 {
    font-size: 1.375rem;
  }

  .p1,
  .large_btn {
    font-size: 1.25rem;
  }

  .p2,
  .medium_btn {
    font-size: 1.0625rem;
  }

  .p3,
  .small_btn {
    font-size: 0.9375rem;
  }

  .p4 {
    font-size: 0.875rem;
  }
}

@media (min-width: 1024px) {
  .h1 {
    font-size: 2.8125rem;
  }

  .h2 {
    font-size: 2.4375rem;
  }

  .h3 {
    font-size: 2.1875rem;
  }

  .h4 {
    font-size: 1.9375rem;
  }

  .h5 {
    font-size: 1.6875rem;
  }

  .h6 {
    font-size: 1.5rem;
  }

  .p1,
  .large_btn {
    font-size: 1.375rem;
  }

  .p2,
  .medium_btn {
    font-size: 1.1875rem;
  }

  .p3,
  .small_btn {
    font-size: 1.0625rem;
  }

  .p4 {
    font-size: 0.9375rem;
  }
}

.box {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.logo {
  font-family: "Sakkal Majalla Bold";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  color: black;
}

.similar_logo_font_excentra_pro {
  font-family: "Excentra Pro";
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  color: black;
}