/* Logo Fonts */

/* Sakkal Majalla Bold Font */
@font-face {
  font-family: "Sakkal Majalla Bold";
  src: url("./fonts/Sakkal_Majalla_Bold_Font/Sakkal_Majalla_Bold.eot");
  src: local("Sakkal Majalla Bold"), local("Sakkal Majalla Bold"),
    url("./fonts/Sakkal_Majalla_Bold_Font/Sakkal_Majalla_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Sakkal_Majalla_Bold_Font/Sakkal_Majalla_Bold.woff2")
      format("woff2"),
    url("./fonts/Sakkal_Majalla_Bold_Font/Sakkal_Majalla_Bold.woff")
      format("woff"),
    url("./fonts/Sakkal_Majalla_Bold_Font/Sakkal_Majalla_Bold.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 700;
}

/* Coronet LT Std Font */
@font-face {
  font-family: "Coronet LT Std";
  src: url("./fonts/Coronet_LT_Std_Font/Coronet_LT_Std_Bold.eot");
  src: local("Coronet LT Std Bold"), local("Coronet LT Std Bold"),
    url("./fonts/Coronet_LT_Std_Font/Coronet_LT_Std_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Coronet_LT_Std_Font/Coronet_LT_Std_Bold.woff2") format("woff2"),
    url("./fonts/Coronet_LT_Std_Font/Coronet_LT_Std_Bold.woff") format("woff"),
    url("./fonts/Coronet_LT_Std_Font/Coronet_LT_Std_Bold.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Coronet LT Std";
  src: url("./fonts/Coronet_LT_Std_Font/Coronet_LT_Std_Regular.eot");
  src: local("Coronet LT Std Regular"), local("Coronet LT Std Regular"),
    url("./fonts/Coronet_LT_Std_Font/Coronet_LT_Std_Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Coronet_LT_Std_Font/Coronet_LT_Std_Regular.woff2")
      format("woff2"),
    url("./fonts/Coronet_LT_Std_Font/Coronet_LT_Std_Regular.woff")
      format("woff"),
    url("./fonts/Coronet_LT_Std_Font/Coronet_LT_Std_Regular.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 400;
}

/* Century Gothic Paneuropean Font */
@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Thin.eot");
  src: local("Century Gothic Paneuropean Thin"),
    local("Century Gothic Paneuropean Thin"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Thin.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Thin.woff2")
      format("woff2"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Thin.woff")
      format("woff"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Thin.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Light.eot");
  src: local("Century Gothic Paneuropean Light"),
    local("Century Gothic Paneuropean Light"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Light.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Light.woff2")
      format("woff2"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Light.woff")
      format("woff"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Light.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Regular.eot");
  src: local("Century Gothic Paneuropean Regular"),
    local("Century Gothic Paneuropean Regular"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Regular.woff2")
      format("woff2"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Regular.woff")
      format("woff"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Regular.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_SemiBold.eot");
  src: local("Century Gothic Paneuropean SemiBold"),
    local("Century Gothic Paneuropean SemiBold"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_SemiBold.woff2")
      format("woff2"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_SemiBold.woff")
      format("woff"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_SemiBold.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Bold.eot");
  src: local("Century Gothic Paneuropean Bold"),
    local("Century Gothic Paneuropean Bold"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Bold.woff2")
      format("woff2"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Bold.woff")
      format("woff"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Bold.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_ExtraBold.eot");
  src: local("Century Gothic Paneuropean ExtraBold"),
    local("Century Gothic Paneuropean ExtraBold"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_ExtraBold.woff2")
      format("woff2"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_ExtraBold.woff")
      format("woff"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_ExtraBold.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Black.eot");
  src: local("Century Gothic Paneuropean Black"),
    local("Century Gothic Paneuropean Black"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Black.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Black.woff2")
      format("woff2"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Black.woff")
      format("woff"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Black.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Thin_Italic.eot");
  src: local("Century Gothic Paneuropean Thin Italic"),
    local("Century Gothic Paneuropean Thin Italic"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Thin_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Thin_Italic.woff2")
      format("woff2"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Thin_Italic.woff")
      format("woff"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Thin_Italic.ttf")
      format("truetype");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Light_Italic.eot");
  src: local("Century Gothic Paneuropean Light Italic"),
    local("Century Gothic Paneuropean Light Italic"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Light_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Light_Italic.woff2")
      format("woff2"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Light_Italic.woff")
      format("woff"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Light_Italic.ttf")
      format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Italic.eot");
  src: local("Century Gothic Paneuropean Italic"),
    local("Century Gothic Paneuropean Italic"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Italic.woff2")
      format("woff2"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Italic.woff")
      format("woff"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Italic.ttf")
      format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_SemiBold_Italic.eot");
  src: local("Century Gothic Paneuropean SemiBold Italic"),
    local("Century Gothic Paneuropean SemiBold Italic"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_SemiBold_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_SemiBold_Italic.woff2")
      format("woff2"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_SemiBold_Italic.woff")
      format("woff"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_SemiBold_Italic.ttf")
      format("truetype");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Bold_Italic.eot");
  src: local("Century Gothic Paneuropean Bold Italic"),
    local("Century Gothic Paneuropean Bold Italic"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Bold_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Bold_Italic.woff2")
      format("woff2"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Bold_Italic.woff")
      format("woff"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Bold_Italic.ttf")
      format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_ExtraBold_Italic.eot");
  src: local("Century Gothic Paneuropean ExtraBold Italic"),
    local("Century Gothic Paneuropean ExtraBold Italic"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_ExtraBold_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_ExtraBold_Italic.woff2")
      format("woff2"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_ExtraBold_Italic.woff")
      format("woff"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_ExtraBold_Italic.ttf")
      format("truetype");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  src: url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Black_Italic.eot");
  src: local("Century Gothic Paneuropean Black Italic"),
    local("Century Gothic Paneuropean Black Italic"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Black_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Black_Italic.woff2")
      format("woff2"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Black_Italic.woff")
      format("woff"),
    url("./fonts/Century_Gothic_Paneuropean_Font/Century_Gothic_Paneuropean_Black_Italic.ttf")
      format("truetype");
  font-style: italic;
  font-weight: 900;
}

/* General Fonts */

/* Excentra Pro Font */
@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraLight_Italic.eot");
  src: local("Excentra Pro ExtraLight Italic"),
    local("Excentra Pro ExtraLight Italic"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraLight_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraLight_Italic.woff2")
      format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraLight_Italic.woff")
      format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraLight_Italic.ttf")
      format("truetype");
  /* font-weight: 200;
  font-style: italic; */
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_Medium.eot");
  src: local("Excentra Pro Medium"), local("Excentra Pro Medium"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Medium.woff2") format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Medium.woff") format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_Italic.eot");
  src: local("Excentra Pro Italic"), local("Excentra Pro Italic"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Italic.woff2") format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Italic.woff") format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_Regular.eot");
  src: local("Excentra Pro Regular"), local("Excentra Pro Regular"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Regular.woff2") format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Regular.woff") format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_Light.eot");
  src: local("Excentra Pro Light"), local("Excentra Pro Light"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Light.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Light.woff2") format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Light.woff") format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraBold.eot");
  src: local("Excentra Pro ExtraBold"), local("Excentra Pro ExtraBold"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraBold.woff2")
      format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraBold.woff") format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraBold.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_Light_Italic.eot");
  src: local("Excentra Pro Light Italic"), local("Excentra Pro Light Italic"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Light_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Light_Italic.woff2")
      format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Light_Italic.woff")
      format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Light_Italic.ttf")
      format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_Medium_Italic.eot");
  src: local("Excentra Pro Medium Italic"), local("Excentra Pro Medium Italic"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Medium_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Medium_Italic.woff2")
      format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Medium_Italic.woff")
      format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Medium_Italic.ttf")
      format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_UltraLight.eot");
  src: local("Excentra Pro UltraLight"), local("Excentra Pro UltraLight"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_UltraLight.woff2")
      format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_UltraLight.woff") format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_UltraLight.ttf")
      format("truetype");
  /* font-weight: 200;
  font-style: normal; */
  font-style: normal;
  font-weight: 265;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_SemiBold_Italic.eot");
  src: local("Excentra Pro SemiBold Italic"),
    local("Excentra Pro SemiBold Italic"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_SemiBold_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_SemiBold_Italic.woff2")
      format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_SemiBold_Italic.woff")
      format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_SemiBold_Italic.ttf")
      format("truetype");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraBold_Italic.eot");
  src: local("Excentra Pro ExtraBold Italic"),
    local("Excentra Pro ExtraBold Italic"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraBold_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraBold_Italic.woff2")
      format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraBold_Italic.woff")
      format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraBold_Italic.ttf")
      format("truetype");
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_Bold.eot");
  src: local("Excentra Pro Bold"), local("Excentra Pro Bold"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Bold.woff2") format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Bold.woff") format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_UltraLight_Italic.eot");
  src: local("Excentra Pro UltraLight Italic"),
    local("Excentra Pro UltraLight Italic"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_UltraLight_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_UltraLight_Italic.woff2")
      format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_UltraLight_Italic.woff")
      format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_UltraLight_Italic.ttf")
      format("truetype");
  /* font-weight: 200;
  font-style: italic; */
  font-style: italic;
  font-weight: 265;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_Bold_Italic.eot");
  src: local("Excentra Pro Bold Italic"), local("Excentra Pro Bold Italic"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Bold_Italic.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Bold_Italic.woff2")
      format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Bold_Italic.woff")
      format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_Bold_Italic.ttf")
      format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraLight.eot");
  src: local("Excentra Pro ExtraLight"), local("Excentra Pro ExtraLight"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraLight.woff2")
      format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraLight.woff") format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_ExtraLight.ttf")
      format("truetype");
  /* font-weight: 200;
  font-style: normal; */
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Excentra Pro";
  src: url("./fonts/Excentra_Pro_Font/Excentra_Pro_SemiBold.eot");
  src: local("Excentra Pro SemiBold"), local("Excentra Pro SemiBold"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_SemiBold.woff2") format("woff2"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_SemiBold.woff") format("woff"),
    url("./fonts/Excentra_Pro_Font/Excentra_Pro_SemiBold.ttf")
      format("truetype");
  font-style: normal;
  font-weight: 600;
}

.logo {
  font-family: "Sakkal Majalla Bold";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  color: black;
}

.similar_logo_font_excentra_pro {
  font-family: "Excentra Pro";
  font-size: 31px;
  font-style: normal;
  font-weight: 600;
  color: black;
}
